body{
 background-color: rgb(255, 255, 255);
}

.main-container{
    display:flex;
    flex-direction:column;
    margin: auto;
    width: 60%;
    background-color:rgb(43, 39, 39);
    color:aliceblue;
   
}
.title{
    margin: auto;

}
.calculator{
    flex-direction:row;
    margin: auto;
}
